<!DOCTYPE html>
<html>

<head>
    <title>Quiz</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

</head>

<body>
    <% questions.forEach(function(question) { %>

        <form class="quiz_form" id="form-<%= question.id %>" name="form-<%= question.id %>">

            <div class="form-group">
                <label for="question-<%= question.id %>">
                    <%= question.Text %>
                </label>

                <select class="form-control questionSelect" id="question-<%= question.id %>">
                    <% question.options.forEach(function(options) { %>

                        <option value="<%= options.isCorrect %>">
                            <%= options.Text %>
                        </option>

                        <% }); %>

                </select>


            </div>
        </form>


        <% }); %>

            <button onclick="getQuestionAnswers()" class="btn btn-primary">Submit Quiz</button>
            <a href="/quiz" id="play_again" class="btn btn-primary" style="display:none">Play Again?</a>
            <script>
                const getQuestionAnswers = () => {
                    //get all question forms
                    let questionsSelects = [...document.getElementsByClassName("questionSelect")];

                    let answeredQuestions = questionsSelects.map(element => {
                        const selectedValue = element.options[element.selectedIndex].value ==="true"?true:false;
                        const elementId = element.id;
                        return { id: elementId, isCorrect: selectedValue }
                    });


                    const answers = answeredQuestions;

                    let score = 0;

                    score = answers.reduce((acc, answer) => {
                        return answer.isCorrect ? acc += 1 : acc += 0
                    }, score);

                    console.log(answeredQuestions)
                    const result =  { totalScore:score,percent: (score/answers.length)*100 ,answersLenght:answers.length}
                    alert(`You Scored  ${result.totalScore} out of ${result.answersLenght} for a ${result.percent}%`)
                    document.getElementById("play_again").style="display:block"
                }


            </script>

</body>

</html>